os:
  - linux
  - osx
language: node_js
install:
  - npm install -g codecov
node_js:
  - "node"
  - "iojs"
  - "11"
  - "10"
  - "9"
  - "8"
  - "7"
  - "6"
  - "5"
  - "4"
  - "0.12"
  - "0.11"
branches:
  only: master
script:
  - npm install
  - node ./node_modules/istanbul/lib/cli.js cover tests/runTests.js
  - if ! [[ $(node --version) =~ v3.3.1|v0.11|v0.12 ]]; then codecov; else echo no codecov; fi;
